<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Emergency Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Default Floating Action Button that scrolls with the content.-->

  <ion-list>
    <ion-item-group *ngFor="let group of items" [hidden]="group.hide">
        <ion-item-divider sticky>
            <ion-label>
              {{group.name}}
            </ion-label>
        </ion-item-divider>
        <ion-item-sliding *ngFor="let item of group.groupItem" #slidingItem [attr.track]="item.tracks[0] | lowercase" [hidden]="item.hide">
            <ion-item  routerLink="/tabs-page/tabs/list/list-detail/{{item.id}}" [queryParams]="{grid: group.groupId,listId: item.id}">
                <ion-thumbnail slot="start">
                    <ion-img [src]="item.img"></ion-img>
                </ion-thumbnail>

              {{item.title}}
              <div class="item-note" slot="end" style="color: brown">
                {{item.note}}
              </div>
            </ion-item>
        </ion-item-sliding>
    </ion-item-group>
  </ion-list>
  <!-- fab placed to the bottom start -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click) = "addForm($event)">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
