<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="about-header">
    <img src="assets/Profile.jpg" width="100%" height="100%" alt="logo">
  </div>
  <div class="about-info">
    <h4 class="ion-padding-start">Intricate Lab</h4>

    <ion-list lines="none">
      <ion-item>
        <ion-icon name="calendar" slot="start"></ion-icon>
        <ion-label position="stacked">Date</ion-label>
        <ion-datetime displayFormat="MMM DD, YYYY" max="2056" [(ngModel)]="conferenceDate"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label position="stacked">Location</ion-label>
        <ion-select>
          <ion-select-option value="madison" selected>Road-1, House-12, Mirpur, 10, Dhaka</ion-select-option>
          <ion-select-option value="austin">Road no.-1, House No.-12 </ion-select-option>
          <ion-select-option value="chicago">Dhaka-1216, </ion-select-option>
          <ion-select-option value="seattle">Bangladesh </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <p class="ion-padding-start ion-padding-end" style="text-align: justify;color: yellow">
      Intricate Lab is a technological spearhead company. We provide various service for reosonable development rate. Our services includes
      Cross platform app development with Ionic and flutter. Single page application development with angular 8, React and vue js. Server side 
      Backend app development with Node js and web Api and .net core based custom application development in microservice architechture.
    </p>
  </div>
</ion-content>
