<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
       Ledger of {{content_name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item-divider sticky>
          <ion-label>
             All Spendings
          </ion-label>
      </ion-item-divider>
      <ion-item-divider sticky>
          <ion-label style="font-size:1.5em;text-align: center;color: tomato">
             Total Spent : {{total}}
          </ion-label>
      </ion-item-divider>
    <ion-item-sliding *ngFor="let group of items">
      <ion-item>
        <ion-label position="stacked" style="font-size: 1.5em">{{group.activityName}}</ion-label>
        <ion-label position="stacked" style="font-size: 1.2em;color:yellow">Amount Spent: {{group.spent}}</ion-label>
        <div class="item-note" slot="end" style="color: brown" (click)="rmclicked(group.ledger_id)">
            <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
        </div>
      </ion-item>

    </ion-item-sliding>
  </ion-list>
  <!-- fab placed to the bottom start -->
  <ion-fab vertical="top" horizontal="end" slot="fixed" edge>
      <ion-fab-button (click) = "addForm($event)">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>

