<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ledger Category
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Default Floating Action Button that scrolls with the content.-->
  <ion-list>
      <ion-item-divider sticky>
          <ion-label>
            All Accounting category
          </ion-label>
      </ion-item-divider>
    <ion-item-sliding *ngFor="let group of items">

        <ion-item>
          <ion-label routerLink="/ledger/{{group.catagory_id}}" position="stacked" style="font-size: 1.5em">{{group.catagory_name}} </ion-label>
          <ion-label routerLink="/ledger/{{group.catagory_id}}" position="stacked" style="color: yellow" > {{group.category_date}}</ion-label>
 
          <div class="item-note" slot="end" style="color: brown" (click)="rmclicked(group.catagory_id)">
              <ion-icon style="font-size: 20px" ios="ios-trash" md="md-trash"></ion-icon>
          </div>
        </ion-item>      
    </ion-item-sliding>
  </ion-list>
  <!-- fab placed to the bottom start -->

  <ion-fab vertical="top" horizontal="end" slot="fixed" edge>
      <ion-fab-button (click) = "addForm($event)">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>

